body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 100px auto;
    background:no-repeat center center fixed url("https://i.ibb.co/svgZdXY/dusan-kipic-qt-D-a-RQt-Muc-unsplash.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: bold;
    color: goldenrod;
    text-align: center;
}
#line {
    width: 150px;
    margin-bottom: 10px;}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: goldenrod;
    width: 150px;
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#container{
    background: rgba(0,0,0,0.7);
    padding: 20px;
    margin: 150px auto 50px auto;
    width: 400px;
    height:380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 10px;
}